MUIDS 1208/
NotMine/
/J_💖💖💖
/NotSchool/TaX_Handler
/CMKL/Game Engine Fundamental/TESTUEPROJ
/KMITL/Yr3_Sem1/Machine Learning/MaleandFemalefacedataset
/KMITL/Yr3_Sem1/Machine Learning/Note/MNIST sound
