MUIDS 1208/
NotMine/
/J_💖💖💖
/NotSchool/TaX_Handler
/KMITL/Yr3_Sem1/Machine Learning/MaleandFemalefacedataset
/KMITL/Yr3_Sem1/Machine Learning/Note/MNIST sound
*.csv
/CMKL/Game Engine Fundamental/Assignments
/KMITL/Yr3_Sem2/Computer Graphics and Mixed Reality/pyopengl_env
/KMITL/Yr3_Sem2/Computer Graphics and Mixed Reality/Lab/Lab7/lab7_env
*.pyc
